development:
  sessions:
    default:
      database: full_content_rss_development
      hosts:
        - localhost:27017

test:
  sessions:
    default:
      database: full_content_rss_test
      hosts:
        - localhost:27017

production:
  sessions:
    default:
      database: full_content_rss_produection
      hosts:
        - localhost:27017
